/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap");

* {
  margin: 0;
}

body {
  /* background-color: #5a287d !important; */
  font-family: "Montserrat", sans-serif;
  /* color: white !important; */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: bolder !important;
}

p {
  font-weight: 400 !important;
}

.ternary-bg {
  background-color: #5e10b1 !important;
  color: white !important;
}

.btn:hover {
  background-color: #f2eaf9 !important;
  color: #5a287d !important;
  /* font-weight: bold; */
}
